#!/bin/bash

#
# cms/common.before -- by Dario Berzano <dario.berzano@cern.ch>
#
# Part of virtual-analysis-facility.
#
# Sample user configuration file for using VAF in CMS. This script will be
# sourced both locally and on the remote machine.
#

# Version of CMSSW (as reported by "scram list")
export VafCmsswVersion='CMSSW_5_3_9_sherpa2beta2'
