# AliEn username
export alien_API_USER=$USER

# Set only AliPhysics. Other dependencies are automatically set.
# See available versions at: http://alimonitor.cern.ch/packages/
export VafAliPhysicsVersion="vAN-20160823-1"
